{% extends 'base.html' %}
{% block title %} Login page {% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 450px;">
            <div class="card-body">
                <form method="post">
                <h3>Logowanie</h3>
                <br>
                {% csrf_token %}
                    <div class="form-group">
                            <span class="text-danger small"></span>
                        <div>
                            <label class="control-label col-sm-4"> <label for="id_username">Nazwa użytkownika:</label></label>
                            <input type="text" name="username" autofocus="" required="" id="id_username">
                        </div>
                    </div>
                    <div class="form-group">
                            <span class="text-danger small"></span>
                        <div>
                            <label class="control-label col-sm-4"> <label for="id_password">Hasło:</label></label>
                            <input type="password" name="password" required="" id="id_password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Zaloguj <i class="fas fa-key"></i></button>
                </form>
                <br>
                <a  href="/main/employees/"><button class="btn btn-primary">Cofnij <i class="fas fa-arrow-left fa-1,5x"></i></button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
