{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Employees table {% endblock %}
{% block body %}
<div id="component">
    <form method="GET">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="card" style="width: auto;">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" >
                          <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Ilość godzin</th>
                            <th>Stawka godzinowa</th>
                            <th>Suma Brutto</th>
                            <th>Suma Netto</th>
                            <th></th>
                          </tr>
                    {% for employee in filter.qs %}
                        <tbody>
                            <tr>
                                <td>{{employee.name}}</td>
                                <td>{{employee.surname}}</td>
                                <td>{{employee.hours}}</td>
                                <td>{{employee.hourly_pay}}</td>
                                <td>{{employee.wage_gross}}</td>
                                <td>{{employee.wage_net}}</td>
                                <td>
                                    <form  method="post" action="{% url 'main:employee-delete' employee.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="employee_id" value="{{ employee.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                    <span><i class="fas fa-trash"></i></span>
                                    </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}





