<div class="card" style="width: 520px;">
    <div class="card-body">
        {% for field in form %}
            <div  class="form-group">
                <div class="col-sm-offset-2 col-lg-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <div>
                    <label class="control-label col-sm-3"> {{ field.label_tag }}</label>
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

