{% extends 'base.html' %}
{% block title %} Home page {% endblock %}
{% block body %}
<div>
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Baza pracowników</h5>
            <p class="card-text">Przechodząc dalej możesz sprawdzić aktualnych pracowników oraz ich
            dane szczegółowe dotyczące przepracowanych godzin oraz wynagrodzenia.</p>
            <a href="/main/employees" class="btn btn-primary">Przejdź dalej <i class="fas fa-arrow-right fa-1,5x"></i></a>
        </div>
    </div>
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Usunięci pracownicy</h5>
            <p class="card-text">Przechodząc dalej możesz sprawdzić dane o usuniętych pracownikach.</p>
            <a href="/main/employees" class="btn btn-primary">Przejdź dalej <i class="fas fa-arrow-right fa-1,5x"></i></a>
        </div>
    </div>
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Dodawanie pracowników</h5>
            <p class="card-text">Przechodząc dalej możesz dodać nowego pracownika ze wszystkim niezbędnymi
            danymi. W tym celu należy być zalogowanym.</p>
            <a href="/main/add_employee" class="btn btn-primary">Przejdź dalej <i class="fas fa-arrow-right fa-1,5x"></i></a>
        </div>
    </div>
</div>
{% endblock %}