body {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: #e7fff5;

}


#component{
    padding: 35px;
}




